.footer{
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.footer > span{
    color: white;
    font-size: 1rem;
    font-weight: 400;
}


.v-middle {
    vertical-align: middle;
}
